@charset "UTF-8";

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	padding: 1rem;
}

.center {
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
}

.host{
    float: left;
  }
  .cover{
  display: flex;
  justify-content: space-between;
  }